//
// Color File
// 
// Provides LESS color options for use in projects
// @version 1.0.0
// @link http://lesscss.org/


// Complementary Color Scheme
@complement1: spin( @base, 180 );
@complement2: darken( spin( @base, 180 ), 5% );

@lighten1: lighten( @base, 15% );
@lighten2: lighten( @base, 30% );

@darken1: darken( @base, 15% );
@darken2: darken( @base, 30% );


// Subtle Color Scheme
@lighter1: lighten( spin( @base, 5 ), 10% );
@lighter2: lighten( spin( @base, 10 ), 20% );

@darker1: darken( spin( @base, -5 ), 10% );
@darker2: darken( spin( @base, -10 ), 20% );
