/* Generic Forms
---------------------------------------------------------------------------------------------------- */
.search-form {
    background-color: #f5f5f5;
    margin-top: 40px;
    overflow: hidden;
    padding: 40px;

    input {
        width: 75%;
    }
}


input,
select,
textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    color: @text-color;
    font-family: @font-body;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    width: 100%;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

input:focus,
textarea:focus {
    border: 1px solid #999;
    outline: none;
}

::-moz-placeholder {
    color: @text-color;
    opacity: 1;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: @text-color;
    font-weight: 400;
}

input[type="submit"] {
    background-color: @base;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: @font-heading;
    font-size: @text-size;
    letter-spacing: 1px;
    padding: 20px;
    text-transform: uppercase;
    width: auto;
}

input:hover[type="submit"] {
    background-color: @text-color;
    color: #fff;
}

/* Gravity Forms
---------------------------------------------------------------------------------------------------- */
.gform_wrapper {

    ul.gform_fields {
        margin-left:  0;

        li {
            list-style: none;

            &.gfield {
                margin-top: 10px;

                &:before {
                    content: "";
                    margin: 0;
                }
            }
        }
    }

    .gfield_label {
        font-weight: 600;
    }
}
