/* Site Navigation
---------------------------------------------------------------------------------------------------- */
.nav-header {
    float: right;
}

.genesis-nav-menu {
    float: left;
    line-height: 1;
    margin-top: 2px;

    .menu-item {
        display: inline-block;
    }

    a {
        color: @text-color;
        font-family: @font-heading;
        font-size: @text-size * .8;
        margin-right: 15px;
        text-transform: uppercase;

        &:hover {
            color: @base;
        }
    }

    .current-menu-item > a {
        color: @base;
    }
}

/* Header Menu
---------------------------------------------------------------------------------------------------- */
.header-menu {
    display: none;
}

#header-menu-icon {
    cursor: pointer;
    display: inline-block;
}

/* Pagination 
---------------------------------------------------------------------------------------------------- */
.pagination {
    margin: 40px 0;

    ul {
        margin: 0;
        text-align: center;
    }

    li {
        display: inline;

        a {
            color: @text-color;
            padding: 5px 8px;

            &:hover {
                color: #fff;
                background: @base;
            }
        }
    }
}